@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --vyska-popupu-mapa: 200px;
    --vyska-menu: 60px;
    --velikost-pisma-menu: 20px;
    --bila: #eef4fc;
    --modra: #395DFC;
    --ruzova: #FCA2D5;
}

body {
    font-family: 'Cardo', serif;
    height: 100%;
    background-color: var(--bila);
}

h1 {
    font-weight: 1;
    font-size: 3em;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-color: var(--bila);
    font-family: 'Roboto Mono', monospace;
}

.leaflet-popup-content h2 {
    font-size: 1.7em;
}

.leaflet-popup-content h1 {
    margin-bottom: 4px;
    text-align: center;
}

.leaflet-popup-content hr {
    height: 1px;
    color: gray;
    background-color: gray;
    border-width: 0;
    margin-bottom: 20px;
}

.leaflet-popup-tip-container { /*tohle je kvuli pozici sipicky u popupu doleva*/
    position: absolute;
    left: -9px;
    top: calc(-10px + 50%);
    transform: rotate(90deg);
}

.icony_popup {
    height: 35px;
    vertical-align: middle;
    margin-right: 20px;
}

.leaflet-popup-content {
    margin: 13px 24px 13px 24px;
}

.leaflet-control-attribution a svg {
    display: none !important; /*more zadna ukrainska vlajka nebude*/
}