@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Inter&family=STIX+Two+Text&family=Sofia+Sans+Semi+Condensed:wght@1&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --vyska-popupu-mapa: 200px;
    --vyska-menu: 60px;
    --velikost-pisma-menu: 18px;
    --bila: #eef4fc;
    --modra: #395DFC;
    --ruzova: #FCA2D5;
}

body {
    font-family: Cardo, serif;
    height: 100%;
    background-color: var(--bila);
}

::-webkit-scrollbar-track {
    background-color: var(--bila);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--modra);
}

p {
    font-size: 1.2em;
}

h1 {
    font-weight: 1;
    font-size: 3em;
}

.btn {
    height: 40px;
    border: none;
    border-radius: 100px;
    background-color: var(--modra);
    color: white;
    font-size: 1.1em;
    padding: 0 30px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.btn:hover {
    transition-duration: 0.2s;
    filter: brightness(120%);
}

/*        leaflet       */
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-color: var(--bila);
    font-family: Inter, sans-serif;
}

.leaflet-popup-content h2 {
    font-size: 1.4em;
    margin: 7px;
    border-radius: 15px;
}

.leaflet-popup-content h1 {
    margin-bottom: 4px;
    text-align: center;
    border-radius: 15px;
}

.leaflet-popup-content hr {
    height: 1px;
    color: gray;
    background-color: gray;
    border-width: 0;
    margin-bottom: 20px;
}

.leaflet-popup-tip-container { /*tohle je kvuli pozici sipicky u popupu doleva*/
    position: absolute;
    left: -9px;
    top: calc(-10px + 50%);
    transform: rotate(90deg);
}

.icony_popup {
    height: 40px;
    width: 40px;
    vertical-align: middle;
    place-self: center;
}

.leaflet-popup-content {
    margin: 13px 24px 13px 24px;
}

.leaflet-control-attribution a svg {
    display: none !important; /*more zadna ukrainska vlajka nebude*/
}

/*nekoukej se*/
.zmensit {
    height: 30px;
    width: 30px;
}

.zmensitMin {
    height: 35px;
    width: 35px;
}

.zmensitVic {
    height: 25px;
    width: 25px;
}
